<nav class="nav nav--services">
  <ul class="list list--nav nav__links">
    <li class="nav__item list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav__link" [routerLink]="['/services/clearance']">Drain Clearance</a>
    </li>
    <li class="nav__item list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav__link" [routerLink]="['/services/cctv']">CCTV Inspections</a>
    </li>
    <li class="nav__item list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav__link" [routerLink]="['/services/repairs']">Drain Repairs</a>
    </li>
    <li class="nav__item list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav__link" [routerLink]="['/services/installation']">Drain Installation</a>
    </li>
    <li  class="nav__item list__item"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav__link" [routerLink]="['/services/tanker']">Tanker Services</a>
    </li>
  </ul>
</nav>
