<div class="page page--locations">
  <app-skewed-wrapper>
    <div class="item">
      <h1 class="heading">Areas Covered</h1>
      <h2>We cover all of Bristol and the areas surrounding</h2>
      <ul>
        <li>Bristol</li>
        <li>Portishead</li>
        <li>Thornbury</li>
        <li>Clevedon</li>
        <li>Weston-Super-Mare</li>
        <li>Nailsea</li>
        <li>Keynsham</li>
        <li>Midsomer Norton</li>
        <li>Wells</li>
        <li>Axbridge</li>
        <li>Yate</li>
        <li>Chipping Sodbury</li>
        <li>Alveston</li>
        <li>Pill</li>
        <li>Bath</li>
      </ul>
    </div>
  </app-skewed-wrapper>
</div>