// TEMPLATE
///////////////////////////

// Variables
///////////////////////////

$BUTTON-Color:				$COLOR-Secondary;
$BUTTON-BgColor:			$COLOR-Primary;
$BUTTON-PaddingY:			$Type-LineHeight / 4;
$BUTTON-PaddingX:			$Type-LineHeight / 2;
$BUTTON-HoverColor:		$COLOR-Primary;
$BUTTON-HoverBgColor:	$COLOR-Secondary;
$BUTTON-BorderRadius:	$BORDER-Radius;

// Main
///////////////////////////

.button {
	@include padding($BUTTON-PaddingY, $BUTTON-PaddingX);
	border: 2px solid $BUTTON-Color;
	border-radius: $BUTTON-BorderRadius;
	color: $BUTTON-Color;

	&:hover {
		background-color: $BUTTON-Color;
		color: $BUTTON-BgColor;
	}
}


// Variants
///////////////////////////

.button--inverted {
	background-color: $BUTTON-Color;
	color: $BUTTON-BgColor;

	&:hover {
		background-color: $BUTTON-BgColor;
		color: $BUTTON-Color;
	}
}


// Media Queries
///////////////////////////
