// LISTS
///////////////////////////
// Variables
///////////////////////////
// Main
///////////////////////////
.list {
  list-style: none;
}

// Variants
///////////////////////////
.list--bullets {
  list-style: initial;
}

.list--h {
  @include flex(column, flex-start, center);
  .list__item {
    display: inline-block;
  }
}

.list--services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  .list__item {
    height: 50%;
    width: 33.33%;
    float: left;
  }
}

// Media Queries
///////////////////////////
@include media ($BP-Med) {
  .list--h {
    @include flex(row, space-around, center);
  }
}