// LISTS
///////////////////////////

// Variables
///////////////////////////

$LIST-SERVICES-GridHeight:     $PAGE-MinHeight-Desk;
$LIST-SERVICES-GridHeight-Lg:  $PAGE-MinHeight-LgDesk;

$LIST-TESTIMONIALS-Padding:     $Type-LineHeight / 4;


// Main
///////////////////////////
.list {
  list-style: none;
}

// Variants
///////////////////////////
.list--bullets {
  list-style: initial;
}

.list--h {
  @include flex(column, flex-start, center);
  .list__item {
    display: inline-block;
  }
}

.list--services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  .list__item {
    height: 250px;
    width: 100%;
    float: left;
  }
}

.list--posts {
  @include padding($Type-LineHeight);
}

.list--policies {
  .list__item {
    @include font-size($FontSize-XL);
    font-family: $Font-MainBold;
    @include margin-bottom($Type-LineHeight / 1.5);
    @include flex($align: center);
  }
}

.list--testimonials {
  .list__item {
    @include padding($LIST-TESTIMONIALS-Padding);
  }
}


// Media Queries
///////////////////////////
@include media ($BP-Med) {
  .list--h {
    @include flex(row, space-around, center);
  }

  .list--services {
    height: $LIST-SERVICES-GridHeight;
    .list__item {
      width: 50%;
      height: 33.33%
    }
  }

  .list--testimonials {
    display: flex;
    flex-wrap: wrap;
    .list__item {
      width: 50%;
    }
  }
}

@include media($BP-Large) {
  .list--services {
    .list__item {
      width: 33.33%;
      height: 50%;
    }
  }

}

@include media($BP-Larger) {
  .list--services {
    height: auto;
    min-height: $LIST-SERVICES-GridHeight-Lg;
  }

  .list--testimonials {
    .list__item {
      width: 33.33%;
    }
  }
}

@include media($BP-Largest) {
  .list--testimonials {
    .list__item {
      width: 25%;
    }
  }
}