// NAV
///////////////////////////

// Variables
///////////////////////////
$NAV-Font:		$Font-Headings;


// Main
///////////////////////////

.nav__links {
	@include flex(column, flex-start);
}

.nav__link {
	text-decoration: none;
	font-family: $NAV-Font;
	font-weight: $FontWeight-Bold;
	&:hover {
		text-decoration: underline;
	}
}

// Variants
///////////////////////////
.nav--footer {
	.nav__links {
		display: flex;
		flex-wrap: wrap;
		.nav__item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

// Media Queries
///////////////////////////
@include media($BP-Med) {
	.nav--footer {
		width: 50%;
	}
}
@include media($BP-Large) {

	.nav__links {
		@include flex(row, space-around, center);
	}
	
	.nav--footer {
		width: 25%;
	}
	
	.nav--services {
		@include padding-x($Type-LineHeight);
		.nav__links {
			justify-content: space-between;
		}
	}
}
