// NAV
///////////////////////////

// Variables
///////////////////////////
$NAV-Font:		$Font-Headings;


// Main
///////////////////////////

.nav__links {
	@include flex(column, flex-start);
}

.nav__link {
	text-decoration: none;
	font-family: $NAV-Font;
	color: $COLOR-White;
	&:hover,
	&:focus {
		text-decoration: underline;
	}

	.active & {
		color: $COLOR-Secondary;
	}
	
}

// Variants
///////////////////////////

.nav--main {
	
	background-color: $COLOR-Primary;
	nav {
		background-color: inherit;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
	}

	.nav__links {
		@include padding-y($Body-LineHeight * 2);
		height: 100%;
		@include flex(column, space-around, center);
	}
}

.nav--footer {
	.nav__links {
		display: flex;
		flex-wrap: wrap;
		.nav__item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

.nav--services {
	@include padding-x($Type-LineHeight);
}

.nav--admin {
	.nav__link {
		color: $COLOR-Primary;
	}
}

// Media Queries
///////////////////////////
@include media($BP-Med) {
	.nav--footer {
		width: 50%;
	}
}
@include media($BP-Large) {

	.nav--main {
		nav {
			position: relative;
			height: auto;
			left: unset;
			top: unset;
			z-index: $Z-Level9;
		}
		.nav__links {
			height: auto;
			flex-direction: row;
			margin-top: 1rem;
			@include flex(row, space-around, center);
			@include padding-y(0);
		}
	}

	
	
	.nav--footer {
		width: 25%;
	}
	
	.nav--services {
		.nav__links {
			justify-content: space-between;
		}
	}
}
