// PHONE
///////////////////////////

// Variables
///////////////////////////
$PHONE-FontSize-Med:	$FontSize-L;
$PHONE-FontSize-Lg:		$FontSize-XL;

// Main
///////////////////////////

.phone {
	a {
		text-decoration: none;
		width: auto;
	}
}


// Elements
///////////////////////////

.phone__number {
	@include font-size($PHONE-FontSize-Med, 1);
	@include margin-y($Type-LineHeight / 2);
	// @include flex(row, space-between, center);
	display: inline-block;
	flex-grow: 0;
	width: auto;

	.icon {
		@include margin-right($Type-LineHeight / 4);
	}
}


// Variants
///////////////////////////

.phone__number--secondary {
	display: none;
}

// Media Queries
///////////////////////////

@include media($BP-Med) {
	.phone__number {
		@include font-size($PHONE-FontSize-Lg, 1);
		border: none;
		@include padding(0);

		&:hover {
			color: inherit;
			background-color: inherit;
		}
	}
	.phone__number--primary {
		@include margin-top(0);
	}
	.phone__number--secondary {
		display: block;
		@include margin-y(0);
	}
}