// PHONE
///////////////////////////

// Variables
///////////////////////////
$PHONE-FontSize:	$FontSize-XL;

// Main
///////////////////////////
.phone {
	a {
		text-decoration: none;
	}
}

.phone__number {
	@include font-size($PHONE-FontSize, 1);
	@include margin-y($Type-LineHeight / 2);
	@include flex(row, space-between, center);
	.icon {
		@include margin-right($Type-LineHeight / 4);
	}
}

.phone__number--secondary {
	display: none;
}


// Elements
///////////////////////////


// Variants
///////////////////////////


// Media Queries
///////////////////////////

@include media($BP-Med) {
	.phone__number {
		border: none;
	}
	.phone__number--secondary {
		display: block;
	}
}