// HEADER
///////////////////////////

// Variables
///////////////////////////


// Main
///////////////////////////

.header {
	background-color: $COLOR-Primary;
	color: $COLOR-Secondary;
	@include padding($Body-LineHeight);
}

// Elements
///////////////////////////

.header__top {
	@include flex(row, space-between, center)
}

.header__nav {
	position: fixed;
	top: 0;
	// left: 100%;
	width: 100%;
	background-color: $COLOR-Primary;
	z-index: $Z-Level9;
}

// Variants
///////////////////////////
// Media Queries
///////////////////////////