// ITEM
///////////////////////////

// Variables
///////////////////////////
$ITEM-Padding:				$Type-LineHeight;
$ITEM-HeadingColor:		$COLOR-Secondary;

// Main
///////////////////////////
.item {
	min-height: 100%;
	@include padding($ITEM-Padding);
}

// Elements
///////////////////////////
.item__title {
	@include font-size($FontSize-XXXL);
	@include margin-y(0, $ITEM-Padding);
	color: $ITEM-HeadingColor;

}

// Variants
///////////////////////////


// Media Queries
///////////////////////////
