// PAGE
///////////////////////////

// Variables
///////////////////////////

$Page-Padding:			$Type-LineHeight;


// Main
///////////////////////////

.page {
	min-height: $PAGE-MinHeight-Mob;
	display: flex;
	overflow: hidden;
}

// Elements
///////////////////////////

.page__content {
	@include padding($Page-Padding);
}

// Variants
///////////////////////////

.page--home {
	@include bg-img('drain.jpg', fixed);
}

.page--tips {
	@include bg-img('clearance.jpg', fixed);
}

.page--contact {
	@include bg-img('tanker.jpg', fixed);
}

.page--locations {
	@include bg-img('map.png', fixed);
}


// Media Queries
///////////////////////////

@include media($BP-Med) {
	.page {
		min-height: $PAGE-MinHeight-Tab;
	}
}

@include media($BP-Large) {
	.page {
		min-height: $PAGE-MinHeight-Desk;
	}
}