// PAGE
///////////////////////////

// Variables
///////////////////////////

$Page-Padding:			$Type-LineHeight;


// Main
///////////////////////////

.page {
	height: 100%;
	min-height: $PAGE-MinHeight-Mob;
	display: flex;
	overflow: hidden;
	position: relative;
}

// Elements
///////////////////////////

.page__content {
	@include padding($Page-Padding);
}

.page__header {
	@include flex($align: center);
}

.page__title {
	color: $COLOR-Primary;
}



// Variants
///////////////////////////

.page--home {
	@include bg-img('drain.jpg', fixed);
}

.page--tips {
	@include bg-img('clearance.jpg', fixed);
}

.page--contact {
	@include bg-img('tanker.jpg', fixed);
}

.page--locations {
	@include bg-img('map.png', fixed);
}

.page--testimonials {
	@include bg-img('clearance.jpg', fixed);
	.page__header {
		@include padding($Page-Padding / 4);
	}
}

.page__header--testimonials {
	justify-content: space-between;
}


// Media Queries
///////////////////////////

@include media($BP-Med) {
	.page {
		min-height: $PAGE-MinHeight-Tab;
	}
}

@include media($BP-Large) {
	.page {
		min-height: $PAGE-MinHeight-Desk;
	}
}