// PAGE
///////////////////////////

// Variables
///////////////////////////

$Page-MinHeight:		100vh;
$Page-Padding:			$Type-LineHeight;


// Main
///////////////////////////

.page {
	// height: 100%;
	min-height: $Page-MinHeight;
	display: flex;
	overflow: hidden;
}

// Elements
///////////////////////////

.page__content {
	@include padding($Page-Padding);
}

// Variants
///////////////////////////

.page--home {
	@include bg-img('drain.jpg', fixed);
}

.page--tips {
	@include bg-img('clearance.jpg', fixed);
}

.page--contact {
	@include bg-img('tanker.jpg', fixed);
}

.page--locations {
	@include bg-img('map.png', fixed);
}


// Media Queries
///////////////////////////
