// TEMPLATE
///////////////////////////

// Variables
///////////////////////////

// Account for fixed heading
$W-Main-PaddingTop-Mob:		$Header-Height-Mob;
$W-Main-PaddingTop-Tab:		$Header-Height-Tab;
$W-Main-PaddingTop-Desk:	$Header-Height-Desk;

// Vars for inner wrapper min height
$W-Main-MinHeight-Mob:		$PAGE-MinHeight-Mob;
$W-Main-MinHeight-Tab:		$PAGE-MinHeight-Tab;
$W-Main-MinHeight-Desk:		$PAGE-MinHeight-Desk;
$W-Main-MinHeight-LgDesk:	$PAGE-MinHeight-LgDesk;

// Main
///////////////////////////

.w {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap
}

// Elements
///////////////////////////

app-header {
	width: 100%;
}
main {
	width: 100%;
}
app-policies {
	width: 100%;
}
app-footer {
	width: 100%;
}


// Variants
///////////////////////////

.w--main {
	@include padding-top($W-Main-PaddingTop-Mob);
	min-height: $W-Main-MinHeight-Mob;
	align-items: stretch;
}


// Media Queries
///////////////////////////

@include media($BP-Med) {
	.w--main {
		@include padding-top($W-Main-PaddingTop-Tab);
		min-height: $W-Main-MinHeight-Tab;
	}
}

@include media($BP-Large) {
	.w {
		main {
			flex: 1 0 66.66%;
		}
		app-policies {
			width: 33.33%;
			max-width: 490px;
		}
	}

	.w--main {
		@include padding-top($W-Main-PaddingTop-Desk);
		min-height: $W-Main-MinHeight-Desk;
	}
}

@include media($BP-Larger) {
	min-height: $W-Main-MinHeight-LgDesk;
}