// TEMPLATE
///////////////////////////

// Variables
///////////////////////////


// Main
///////////////////////////

.w {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap
}


// Elements
///////////////////////////

app-header {
	width: 100%;
}
main {
	width: 100%;
}
app-policies {
	width: 100%;
}
app-footer {
	width: 100%;
}


// Variants
///////////////////////////


// Media Queries
///////////////////////////
@include media($BP-Large) {
	.w {
		main {
			flex: 1 0 66.66%;
		}
		app-policies {
			width: 33.33%;
			max-width: 490px;
		}
	}
}