<nav>
  <ul class="list list--nav nav__links">
    <li class="list__item nav__item">
      <a class="nav__link" [routerLink]="['/services']">Services</a>
    </li>
    <li class="list__item nav__item">
      <a class="nav__link" [routerLink]="['/testimonials']">Testimonials</a>
    </li>
    <li class="list__item nav__item">
      <a class="nav__link" [routerLink]="['/tips']">Hints &amp; Tips</a>
    </li>
    <li class="list__item nav__item">
      <a class="nav__link" [routerLink]="['/contact']">Contact</a>
    </li>
    <li class="list__item nav__item">
      <a class="nav__link" [routerLink]="['/blog']">Blog</a>
    </li>
  </ul>
</nav>