<nav [@slideInOut]="menuState">
  <ul class="list list--nav nav__links">
    <li class="list__item nav__item"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/about']">About</a>
    </li>
    <li class="list__item nav__item"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/services']">Services</a>
    </li>
    <li class="list__item nav__item"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/testimonials']">Testimonials</a>
    </li>
    <li class="list__item nav__item"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/tips']">Hints &amp; Tips</a>
    </li>
    <li class="list__item nav__item"
      [routerLinkActive]="['active']" 
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/locations']">Locations</a>
    </li>
    <li class="list__item nav__item"
      [routerLinkActive]="['active']" 
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/contact']">Contact</a>
    </li>
    <li class="list__item nav__item"
      [routerLinkActive]="['active']" 
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a class="nav__link" (click)="toggleMenu()" [routerLink]="['/blogs']">Blog</a>
    </li>
  </ul>
</nav>