// BASE STYLES
////////////////////////////

// Variables
////////////////////////////

$Body-FontSize:			$Base-FontSize;
$Body-FontFamily:		$FontFamily-Main;
$Body-LineHeight:		$Type-LineHeight;
$Body-FontWeight:		$FontWeight-Thin;
$Body-Color:				$COLOR-White;

$Heading-Font:			$FontFamily-Head;
$Heading-Weight:		$FontWeight-Bold;


// Main
////////////////////////////
* {
	box-sizing: border-box;
}

html {
	width:				100%;
	height:				100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 	$Body-FontFamily;
	font-weight: 	$Body-FontWeight;
	@include font-size($Body-FontSize);
	box-sizing: 	border-box;
	// color:				$Body-Color;
	width:				100%;
	height:				100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

a {
	color: inherit;
}

i {
	font-style: normal;
}

button {
	appearance: none;
	border: none;
	background-color: transparent;
}

img {
	max-width: 100%;
}

// Set heading font and weight
@for $i from 1 through 6 {
	h#{$i} {
		font-family: $Heading-Font;
		font-weight: $Heading-Weight;
	}
}

input,
textarea {
	box-shadow: none;
	border: $BORDER;
	border-radius: $BORDER-Radius;
	font-family: $FontFamily-Main;
	font-weight: $Body-FontWeight;
}

:focus {
	outline: 1px dotted $COLOR-Primary;
	outline-offset: 1px;
}
