@mixin bg-img($url, $attachment: null) {
	$path: #{$imgPath}#{$url};
	@warn $path;
	background-image: url(#{$path});
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@if $attachment {
		background-attachment: $attachment;
	}
}