@mixin flex($direction: row, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  @if $justify {
    @if $justify=='around' or 'between' {
      justify-content: #{$justify};
    }
    @else {
      justify-content: $justify;
    }
  }
  @if $align {
    align-items: $align;
  }
}