// MARGIN MIXINS

// MARGIN SHORTHAND
/////////////////////////////////////////

@mixin margin($t, $r: null, $b: null, $l: null) {
	@if not ($r) {
		$t: pxOrPercent($t);
		@if(unitless($t)) {
			margin: #{$t}px;
			margin: em($t);
		}
		@else {
			margin: $t;
		}
	} 

	@if($r and not $b) {
		$t: pxOrPercent($t);
		$r: pxOrPercent($r);
		@if(unitless($t) and unitless($r)) {
			margin: #{$t}px #{$r}px;
			margin: em($t) em($r);
		}
		@else {
			@if(unitless($t)) {
				$t: em($t);
			}
			@if(unitless($r)) {
				$r: em($r);
			}
			margin: $t $r;
		}
	}

	@if($r and $b and not $l) {
		$t: pxOrPercent($t);
		$r: pxOrPercent($r);
		$b: pxOrPercent($b);
		@if(unitless($t) and unitless($r) and unitless($b)) {
			margin: #{$t}px #{$r}px #{$b}px;
			margin: em($t) em($r) em($b);
		}
		@else {
			@if(unitless($t)) {
				$t: em($t);
			}
			@if(unitless($r)) {
				$r: em($r);
			}
			@if(unitless($b)) {
				$b: em($b);
			}
			margin: $t $r $b;
		}
	}

	@if($r and $b and $l) {
		$t: pxOrPercent($t);
		$r: pxOrPercent($r);
		$b: pxOrPercent($b);
		$l: pxOrPercent($l);
		@if(unitless($t) and unitless($r) and unitless($b) and unitless($l)) {
			margin: #{$t}px #{$r}px #{$b}px #{$l}px;
			margin: em($t) em($r) em($b) em($l);
		}
		@else {
			@if(unitless($t)) {
				$t: em($t);
			}
			@if(unitless($r)) {
				$r: em($r);
			}
			@if(unitless($b)) {
				$b: em($b);
			}
			@if(unitless($l)) {
				$l: em($l);
			}
			margin: $t $r $b $l;
		}
	}
}

// MARGIN-X
/////////////////////////////////////////

@mixin margin-x($l, $r: null) {
	@if(not $r) {
		$l: pxOrPercent($l);
		@if(unitless($l)) {
			margin-left: #{$l}px;
			margin-left: em($l);
			margin-right: #{$l}px;
			margin-right: em($l);
		}
		@else {
			margin-left: $l;
			margin-right: $l;
		}
	}
	@if($l and $r) {
		$l: pxOrPercent($l);
		$r: pxOrPercent($r);
		@if(unitless($l)) {
			$l: em($l);
		}
		@if(unitless($r)) {
			$r: em($r);
		}
		margin-left: $l;
		margin-right: $r;
	}
}


// MARGIN-Y
/////////////////////////////////////////

@mixin margin-y($t, $b: null) {
	@if(not $b) {
		$t: pxOrPercent($t);
		@if(unitless($t)) {
			margin-top: #{$t}px;
			margin-top: em($t);
			margin-bottom: #{$t}px;
			margin-bottom: em($t);
		}
		@else {
			margin-top: $t;
			margin-bottom: $t;
		}
	}
	@if($t and $b) {
		$t: pxOrPercent($t);
		$b: pxOrPercent($b);
		@if(unitless($t)) {
			$t: em($t);
		}
		@if(unitless($b)) {
			$b: em($b);
		}
		margin-top: $t;
		margin-bottom: $b;
	}
}