<div class="page tips">
  <div class="with-aside skewed--full bg bg--opaque">
    <article class=" skewed__content">
      <h1 class="heading">Tips and Advice</h1>
      <p>A blocked drain is inconvenient and can be costly, smells, possible flooding and in some cases health hazards. We here at Bristol Faster Drains are always available 24 hours a day, 7 days a week. However, hear are a few handy hints to hopefully
        help you not need us.</p>
      <ul class="hints">
        <li>
          Do not flush away disposable items, particularly if they are insoluble. Wet wipes, nappies and sanitary items are some of the biggest causes of drain problems. They can cause blocked toilets.
        </li>
        <li>
          Keep toiletries, air fresheners and toys away from where they could fall in to the toilet pan and cause a blockages.
        </li>
        <li>
          Remove hairs etc from your bathroom sink, shower and bath plugs. Empty the traps if you are able to access them.
        </li>
        <li>
          Do not dispose of cooking oils and food remains in the kitchen sink.
        </li>
        <li>
          Remove leaves, debris and rubbish from the external gullies, drain grids and guttering to prevent a blocked drain.
        </li>
        <li>
          Do not wash paint or cement into drains or toilets.
        </li>
        <li>
          Lift the outside inspection chambers to check that the drains are free flowing and that there is no lime scale, fat or grease build up.
        </li>
        <li>
          Whilst rodding your own drains is cost effective, make sure you use good quality drain rods, many of our call outs are due to snapped rods getting stuck and causing blockages.
        </li>
      </ul>
    </article>
  </div>
  <app-policies class="aside"></app-policies>
</div>