<article class="article">
  <div class="blog__wrapper">
    <img [src]="blog?.imageURL" [alt]="blog?.imageAlt" class="article__img">
    <div class="blog__content">
      <h1 class="blog__title">{{ blog?.title }}</h1>
      <p class="blog__body">{{ blog?.body }}</p>
      <div class="article__foot">
        <p><small>Posted on {{blog?.date | date: 'dd LLLL yyyy'}} in {{ blog?.location }}</small></p>
      </div>
      <!-- <div *ngIf="admin"> -->
        <button class="button button--primary" (click)="deletePost(blog)" >Delete</button>
      </div>
    <!-- </div> -->
  </div>
</article>
