<ul class="list list--testimonials">
  <li class="list__item" *ngFor="let testimonial of testimonials">
    <article class="testimonial">
      <h1 class="testimonial__author">{{ testimonial?.name }}</h1>
      <h2 class="testimoial__location">{{ testimonial?.location }}</h2>
      <div>
        <p class="sr">{{testimonial.stars}} stars out of {{testimonial.outOf}}</p>
        <app-display-stars appDisplayStars [stars]="testimonial?.stars" [outOf]="testimonial?.outOf"></app-display-stars>
      </div>
      <p class="testimonial__body">
        {{ testimonial?.body }}
      </p>
      <div class="testimonial__meta">
        <p>
          <small>Posted: {{ testimonial?.date | date: 'dd LLLL yyyy' }}</small>
        </p>
      </div>
    </article>
  </li>
</ul>