
<div class="page page--register">
  <app-skewed-wrapper [full]="false">
    <form (submit)="register()" class="form form--register">
      <div class="form__row">
        <label for="secondName" class="form__label">First Name</label>
        <input
          type="text"
          name="firstName"
          [(ngModel)]="firstName"
          id="firstName"
          class="form__input"
          placeholder="First Name"
        />
      </div>
      <div class="form__row">
        <label for="lastName" class="form__label">Last Name</label>
        <input
          type="text"
          name="lastName"
          [(ngModel)]="lastName"
          id="lastName"
          class="form__input"
          placeholder="Last Name"
        />
      </div>
      <div class="form__row">
        <label for="email" class="form__label">Email Address</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          id="email"
          class="form__input"
          placeholder="Email Address"
        />
      </div>
      <div class="form__row">
        <label for="password" class="form__label"></label>
        <input
          class="form__input"
          [(ngModel)]="password"
          type="password"
          name="password" 
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="form__row">
        <label for="confirm" class="form__label"></label>
        <input
          class="form__input"
          [(ngModel)]="confirm"
          type="password"
          name="confirm"
          id="confirm"
          placeholder="Confirm Password"
        />
      </div>
      <div class="form__row">
        <input type="submit" value="Register" class="button button__primary" />
      </div>
    </form>
  </app-skewed-wrapper>
</div>