<div class="page page--home">
  <app-skewed-wrapper [full]="false">
      <div class="item">
          <header class="item__header">
              <h1 class="item__title">Bristol Faster Drains</h1>
              <p class="item__strapline">Bristols premiere drain clearing experts</p>
              <p class="item__strapline"><strong>24/7 Call Out</strong></p>
              <h2 class="item__sub-title">
                <a href="tel:+">{{ info?.mainNumber }}</a></h2>
              <h2 class="item__sub-title">
                <a href="tel:+">{{ info?.secondaryNumber }}</a>
              </h2>
            </header>
            <app-display-stars appDisplayStars [stars]="stars" [outOf]="outOf"></app-display-stars>
      </div>
    </app-skewed-wrapper>
</div>