<div class="phone">
  <a href="tel:{{ info?.mainNumber }}">
    <h2 class="phone__number phone__number--primary button">
        <i class="icon icon--phone" role="img" aria-hidden="true"></i>
        <span>{{ info?.mainNumber }}</span>
      </h2>
  </a>
  <a href="tel:{{ info?.secondaryNumber }}">
    <h3 class="phone__number phone__number--secondary button">
      <i class="icon icon--phone" role="img" aria-hidden="true"></i>
      <span>{{ info?.secondaryNumber }}</span>
    </h3>
  </a>
</div>
